<h1>Welcome to ReSupplyz App<h1>

<%= link_to 'Products', products_path %>

<h4>If you are a Restaurant Manager <%= link_to "Sign Up Here!", manager_signup_path %></h4>

<h4>If you are a Distributor <%= link_to "Sign Up Here!", vendor_signup_path %>
<br>
<br>
<%= link_to 'Sign in', signin_path %>