<nav>
<strong>Restaurant Manager</strong> <%= link_to "Sign Up Here!", manager_signup_path %> |

<strong>Distributor</strong> <%= link_to "Sign Up Here!", vendor_signup_path %>
</nav>
<hr>
<h1>Welcome to ReSupplyz <h1>

<%= link_to 'Products', products_path %>

<br>
<br>
<%= link_to 'Sign In', signin_path %> <br>
