<% @orders.each do |order|%>
<ul>
<li><%= order.delivery %> | <%= link_to 'Edit Order', edit_order_path(order),{method: 'get'} %> <br></li>
<ol>
<% order.products.each do |pro|%>
<li><%= pro.name%><br></li>

<%end%>
</ol>
</ul>
<%#byebug%>
<%end%>

