
<div class="link-styling">
    <%= link_to 'Go Back', vendor_path(current_vendor) %>
</div>

<div class="title-wrapper">
    <h1>Info</h1>
</div>

<div>
    <strong><%= @product.name%></strong> - $<%= @product.price%>
    <p><%= @product.description%></p>
</div>